@model List<ERP.Models.vEvaluation>
@{
    ViewBag.Title = "Evaluations";
    int resultado = 0;
    string[] resultados;
}
<br />
<br />
<div class="container">
    <br />
    <h2><strong>Nuevo Empleado</strong></h2>
    <br />
    <div class="row">
        <div class="card">
            <div id="msgError" class="msg-err">
                @ViewBag.Error
            </div>
            <div id="msgSucc" class="msg-succ ">
                @ViewBag.Success
            </div>
            <h4><strong>Seleccionar aspirante</strong></h4>
            <a href="~/Employee/Evaluations">@ViewBag.Volver</a>
            <form action="~/Employee/Evaluations" method="post" autocomplete="off" class="form-horizontal">
                <br />
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" id="Search" name="Search" class="form-control" placeholder="Nombre de usuario" required />
                    </div>
                    <div class="col-md-offset-2">
                        <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
                    </div>
                </div>
            </form>
            <br />
            <div class="container">
                <table class="table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Resultado general</th>
                        <th scope="col">Notas</th>
                        <th scope="col">Evaluador</th>
                        <th scope="col">Contratar</th>
                    </tr>
                    @foreach (var c in Model)
                    {
                        resultados = c.result.Split('-');
                        resultado = int.Parse(resultados[0]);
                        <tr>
                            <th scope="row">@c.id_evaluation</th>
                            <td>@c.lastname</td>
                            <td>@c.name</td>
                            <td>@resultado</td>
                            <td>@c.notes</td>
                            <td>@c.username</td>
                            <td><button class="btn btn-primary" type="button" onclick="document.location.href='@Url.Content("~/Employee/NewEmployee/"+c.id_evaluation)'"><i class="bi bi-person-fill-add"></i></button></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    function deleteUser(id) {
        url = "@Url.Content("~/Users/DeleteUser/")"+id;

        $.post(url, function (data) {
            if (data == "1") {
                document.location.href = "@Url.Content("~/Users/Users")";
                alert("Hola");
            } else {
                document.getElementById("msgError").innerHTML = "ERROR: No se puede eliminar el usuario actual.";
            }
        });
    }
</script>