@model ERP.Models.Evaluation
@{
    ViewBag.Title = "NewEmployee";
    List<SelectListItem> lst = new List<SelectListItem>();
    using (ERP.Models.ERPEntities db = new ERP.Models.ERPEntities()) {
        lst = (from d in db.Module
               select new SelectListItem() { Value = d.id_module.ToString(), Text = d.module1.ToString() }).ToList();
    }
}
<br />
<br />
<div class="container">
    <br />
    <h2><strong>Nuevo Empleado</strong></h2>
    <br />
    <div class="row">
        <div class="card">
            <h4><strong>Asignar cargo</strong></h4>
            <form action="~/Employee/NewEmployee" method="post" autocomplete="off" class="form-horizontal">
                <div class="msg-err">
                    @ViewBag.Error
                </div>

                <div class="msg-succ ">
                    @ViewBag.Success
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Aspirante:</label>
                    <div class="col-sm-10">
                        <label type="text" class="form-control">@Model.lastname @Model.name</label>
                        <input type="number" name="idEvaluacion" value="@Model.id_evaluation" hidden />
                    </div>
                </div>
                <div class="form-group">
                    <label for="idMoudle" class="col-sm-2 control-label">Area de Trabajo:</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("idMoudle", lst, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="position" class="col-sm-2 control-label">Cargo:</label>
                    <div class="col-sm-10">
                        <input type="text" id="position" name="position" class="form-control" placeholder="Nombre del Cargo" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="pay" class="col-sm-2 control-label">Sueldo:</label>
                    <div class="col-sm-10">
                        <input type="number" min="0" name="pay" class="form-control" placeholder="Sueldo" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="workDays" class="col-sm-2 control-label">Dias de Trabajo:</label>
                    <div class="col-sm-10">
                        <input type="number" min="0" max="7" name="workDays" class="form-control" placeholder="Dias de trabajo" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="workHours" class="col-sm-2 control-label">Horas de Trabajo:</label>
                    <div class="col-sm-10">
                        <input type="number" min="0" max="8" name="workHours" class="form-control" placeholder="Horas de trabajo " required />
                    </div>
                </div>

                <div class="col-md-offset-10">
                    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
