@model ERP.Models.Evaluation
@{
    ViewBag.Title = "NewEvaluation";
    List<ERP.Models.Question> lst;
    using (ERP.Models.ERPEntities db = new ERP.Models.ERPEntities())
    {
        lst = (from d in db.Question
               where d.id_evaluation == 0
               select d).ToList();
    }
    if (Model.id_evaluation == -1)
    {
        Layout = "~/Views/Shared/_Layout_1.cshtml";
    }
}
<br />
<br />
<div class="container">
    <br />
    <h2><strong>Nueva evaluación</strong></h2>
    <br />
    <div class="row">
        <div class="card">
            @{
                if (Model.id_evaluation == -2)
                {
                    <h4><strong>Agregar notas</strong></h4>
                    int section = int.Parse(Session["Section"] as string);
                    <form action="~/Employee/AddEvaluation" method="post" class="form-horizontal">
                        <textarea type="text" name="notes" value="" placeholder="Notas del evaluador"></textarea>

                        <div class="col-md-offset-10">
                            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                        </div>
                    </form>
                }
                else if (Model.id_evaluation == -1)
                {
                    <h4><strong>Prueba de personalidad Big Five</strong></h4>
                    int section = int.Parse(Session["Section"] as string);
                    float progress = 0f;
                    progress = section / 0.4f;
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @progress%;" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100">@progress%</div>
                    </div>
                    <form action="~/Employee/AddQuestions" method="post" class="form-horizontal">
                        <div>
                            <label>@lst[3 * section].question1</label> <br />
                            <input type="radio" id="Q1O1" name="Q1" value="1" required /> <label for="Q1O1">Muy en desacuerdo</label> <br />
                            <input type="radio" id="Q1O2" name="Q1" value="2" /> <label for="Q1O2">Moderadamente en desacuerdo</label> <br />
                            <input type="radio" id="Q1O3" name="Q1" value="3" /> <label for="Q1O3">Ni de acuerdo, ni en desacuerdo</label> <br />
                            <input type="radio" id="Q1O4" name="Q1" value="4" /> <label for="Q1O4">Moderadamente de acuerdo</label> <br />
                            <input type="radio" id="Q1O5" name="Q1" value="5" /> <label for="Q1O5">Muy de acuerdo</label> <br />
                        </div>
                        <br />
                        <div>
                            <label>@lst[3 * section + 1].question1</label> <br />
                            <input type="radio" id="Q2O1" name="Q2" value="1" required /> <label for="Q2O1">Muy en desacuerdo</label> <br />
                            <input type="radio" id="Q2O2" name="Q2" value="2" /> <label for="Q2O2">Moderadamente en desacuerdo</label> <br />
                            <input type="radio" id="Q2O3" name="Q2" value="3" /> <label for="Q2O3">Ni de acuerdo, ni en desacuerdo</label> <br />
                            <input type="radio" id="Q2O4" name="Q2" value="4" /> <label for="Q2O4">Moderadamente de acuerdo</label> <br />
                            <input type="radio" id="Q2O5" name="Q2" value="5" /> <label for="Q2O5">Muy de acuerdo</label> <br />
                        </div>
                        <br />
                        <div>
                            <label>@lst[3 * section + 2].question1</label> <br />
                            <input type="radio" id="Q3O1" name="Q3" value="1" required /> <label for="Q3O1">Muy en desacuerdo</label> <br />
                            <input type="radio" id="Q3O2" name="Q3" value="2" /> <label for="Q3O2">Moderadamente en desacuerdo</label> <br />
                            <input type="radio" id="Q3O3" name="Q3" value="3" /> <label for="Q3O3">Ni de acuerdo, ni en desacuerdo</label> <br />
                            <input type="radio" id="Q3O4" name="Q3" value="4" /> <label for="Q3O4">Moderadamente de acuerdo</label> <br />
                            <input type="radio" id="Q3O5" name="Q3" value="5" /> <label for="Q3O5">Muy de acuerdo</label> <br />
                        </div>
                        <div class="col-md-offset-10">
                            <button type="submit" class="btn btn-primary btn-lg">Siguiente</button>
                        </div>
                    </form>
                }
                else
                {
                    <h4><strong>Datos personales y de contacto</strong></h4>
                    <form action="~/Employee/NewEvaluation" method="post" autocomplete="off" class="form-horizontal">
                        <div class="msg-err">
                            @ViewBag.Error
                        </div>
                        <div class="msg-succ">
                            @ViewBag.Success
                            <a href="@Url.Content("~/Printer/PrintLastEvaluationReport")" style="text-decoration: none; color: white;"> @ViewBag.Report</a>
                        </div>
                        <br />
                        <div id="Content">
                            <div class="form-group">
                                <label for="Name" class="col-sm-2 control-label">Nombre(s):</label>
                                <div class="col-sm-10">
                                    <input type="text" id="Name" name="Name" class="form-control" placeholder="Nombre(s)" value="@Model.name" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Lastname" class="col-sm-2 control-label">Apellido(s):</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Lastname" class="form-control" placeholder="Apellido(s)" value="@Model.lastname" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Age" class="col-sm-2 control-label">Edad:</label>
                                <div class="col-sm-10">
                                    <input type="number" name="Age" class="form-control" placeholder="Edad" min="0" value="@Model.age" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="col-sm-2 control-label">Correo:</label>
                                <div class="col-sm-10">
                                    <input type="email" name="Email" class="form-control" placeholder="example@example.com" value="@Model.email" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Phone" class="col-sm-2 control-label">Telefono:</label>
                                <div class="col-sm-10">
                                    <input type="tel" name="Phone" class="form-control" placeholder="Telefono" pattern="\d{10}$" value="@Model.phone" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Address" class="col-sm-2 control-label">Dirección:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Address" class="form-control" placeholder="Dirección" value="@Model.address" required />
                                </div>
                            </div>

                            <div class="col-md-offset-10">
                                <button type="submit" class="btn btn-primary btn-lg">Siguiente</button>
                            </div>
                        </div>
                    </form>
                }
            }

        </div>
    </div>
</div>