@model ERP.Models.vStaffTracking
@{
    ViewBag.Title = "StaffTracking";
    string[] results = Model.result.Split('-');
    string[] modules = results[1].Split(',');
    string[] modulesResults = results[2].Split('|');
    string[] moduleA = modulesResults[0].Split(',');
    string[] moduleB = modulesResults[1].Split(',');
    string[] moduleC = modulesResults[2].Split(',');
    string[] moduleD = modulesResults[3].Split(',');
    string[] moduleE = modulesResults[4].Split(',');

    int progress(string value, int total)
    {
        int val = int.Parse(value);
        int prog = val * 10 / total;
        return prog;
    }
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>
<br />
<br />
<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-10">
            <h2><strong>Seguimiento del personal: </strong>@Model.lastname @Model.name</h2>
        </div>
        <div class="col-lg-2 text-center">
            <br />
            <button class="btn btn-primary" type="button" onclick="document.location.href='@Url.Content("~/Printer/PrintEmployeeReport/" + @Model.id_employee)'">Generar reporte</button>
        </div>
    </div>
    <br />
    <div id="accordion">
        <h3 class="accordion-header">Información personales y de contacto</h3>
        <div class="ss">
            <div class="row">
                <div class="col-sm-10">
                    <label>Apellido(s):</label> @Model.lastname <br /><br />
                    <label>Nombre(s):</label> @Model.name <br /><br />
                    <label>Edad:</label> @Model.age <br /><br />
                    <label>Correo electronico:</label> @Model.email <br /><br />
                    <label>Telefono:</label> @Model.phone <br /><br />
                    <label>Dirección:</label> @Model.address
                </div>
            </div>
        </div>
        <h3 class="accordion-header">Información laboral</h3>
        <div>
            <div class="col-sm-8">
                <label>Área de trabajo:</label> @Model.module <br /><br />
                <label>Puesto:</label> @Model.position <br /><br />
                <label>Sueldo:</label> $@Model.pay <br /><br />
                <label>Días de trabajo:</label> @Model.work_days <br /><br />
                <label>Horas de trabajo:</label> @Model.work_hours
            </div>
            <div class="col-sm-4">
                <br /><br /><br /><br /><br /><br />
                <label>Días de descanso (pendientes):</label> @Model.remaining_holidays <br /><br />
                <label>Días de descanso (pagados):</label> @Model.paid_holidays
            </div>
        </div>
        <h3 class="accordion-header">Evaluación psicometrica</h3>
        <div>
            <div class="row">
                <div class="col-sm-7">
                    <div>
                        <label>Neurosis</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(modules[0],12)%;" aria-valuenow="@progress(modules[0],12)" aria-valuemin="0" aria-valuemax="100">@progress(modules[0], 12)%</div>
                        </div>
                        <label>Extroversión</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(modules[1],12)%;" aria-valuenow="@progress(modules[1],12)" aria-valuemin="0" aria-valuemax="100">@progress(modules[1], 12)%</div>
                        </div>
                        <label>Apertura a experiencias</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(modules[2],12)%;" aria-valuenow="@progress(modules[2],12)" aria-valuemin="0" aria-valuemax="100">@progress(modules[2], 12)%</div>
                        </div>
                        <label>Simpatía</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(modules[3],12)%;" aria-valuenow="@progress(modules[3],12)" aria-valuemin="0" aria-valuemax="100">@progress(modules[3], 12)%</div>
                        </div>
                        <label>Meticulosidad</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(modules[4],12)%;" aria-valuenow="@progress(modules[4],12)" aria-valuemin="0" aria-valuemax="100">@progress(modules[4], 12)%</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label>Total: </label> @results[0]
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-sm-4">
                    <label>Neurosis</label><br /><br />
                    <div>
                        <label>Ansiedad</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleA[0],2)%;" aria-valuenow="@progress(moduleA[0],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleA[0], 2)%</div>
                        </div>
                        <label>Ira</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleA[1],2)%;" aria-valuenow="@progress(moduleA[1],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleA[1], 2)%</div>
                        </div>
                        <label>Depresión</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleA[2],2)%;" aria-valuenow="@progress(moduleA[2],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleA[2], 2)%</div>
                        </div>
                        <label>Vergüenza</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleA[3],2)%;" aria-valuenow="@progress(moduleA[3],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleA[3], 2)%</div>
                        </div>
                        <label>Falta de moderacion</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleA[4],2)%;" aria-valuenow="@progress(moduleA[4],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleA[4], 2)%</div>
                        </div>
                        <label>Vulnerabilidad</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleA[5],2)%;" aria-valuenow="@progress(moduleA[5],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleA[5], 2)%</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Extroversión</label><br /><br />
                    <div>
                        <label>Cordialidad</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleB[0],2)%;" aria-valuenow="@progress(moduleB[0],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleB[0], 2)%</div>
                        </div>
                        <label>Sociabilidad</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleB[1],2)%;" aria-valuenow="@progress(moduleB[1],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleB[1], 2)%</div>
                        </div>
                        <label>Confianza</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleB[2],2)%;" aria-valuenow="@progress(moduleB[2],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleB[2], 2)%</div>
                        </div>
                        <label>Nivel de actividad</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleB[3],2)%;" aria-valuenow="@progress(moduleB[3],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleB[3], 2)%</div>
                        </div>
                        <label>Búsqueda de nuevas experiencias</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleB[4],2)%;" aria-valuenow="@progress(moduleB[4],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleB[4], 2)%</div>
                        </div>
                        <label>Alegría</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleB[5],2)%;" aria-valuenow="@progress(moduleB[5],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleB[5], 2)%</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Apertura a experiencias</label><br /><br />
                    <div>
                        <label>Imaginación</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleC[0],2)%;" aria-valuenow="@progress(moduleC[0],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleC[0], 2)%</div>
                        </div>
                        <label>Interes artístico</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleC[1],2)%;" aria-valuenow="@progress(moduleC[1],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleC[1], 2)%</div>
                        </div>
                        <label>Sensibilidad</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleC[2],2)%;" aria-valuenow="@progress(moduleC[2],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleC[2], 2)%</div>
                        </div>
                        <label>Ansias de aventura</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleC[3],2)%;" aria-valuenow="@progress(moduleC[3],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleC[3], 2)%</div>
                        </div>
                        <label>Intelecto</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleC[4],2)%;" aria-valuenow="@progress(moduleC[4],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleC[4], 2)%</div>
                        </div>
                        <label>Liberalismo</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleC[5],2)%;" aria-valuenow="@progress(moduleC[5],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleC[5], 2)%</div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-sm-4">
                    <label>Simpatía</label><br /><br />
                    <div>
                        <label>Confianza</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleD[0],2)%;" aria-valuenow="@progress(moduleD[0],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleD[0], 2)%</div>
                        </div>
                        <label>Moral</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleD[1],2)%;" aria-valuenow="@progress(moduleD[1],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleD[1], 2)%</div>
                        </div>
                        <label>Altruismo</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleD[2],2)%;" aria-valuenow="@progress(moduleD[2],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleD[2], 2)%</div>
                        </div>
                        <label>Cooperación</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleD[3],2)%;" aria-valuenow="@progress(moduleD[3],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleD[3], 2)%</div>
                        </div>
                        <label>Modestia</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleD[4],2)%;" aria-valuenow="@progress(moduleD[4],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleD[4], 2)%</div>
                        </div>
                        <label>Empatía</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleD[5],2)%;" aria-valuenow="@progress(moduleD[5],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleD[5], 2)%</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Meticulosidad</label><br /><br />
                    <div>
                        <label>Autoeficacia</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleE[0],2)%;" aria-valuenow="@progress(moduleE[0],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleE[0], 2)%</div>
                        </div>
                        <label>Orden</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleE[1],2)%;" aria-valuenow="@progress(moduleE[1],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleE[1], 2)%</div>
                        </div>
                        <label>Sentido del deber</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleE[2],2)%;" aria-valuenow="@progress(moduleE[2],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleE[2], 2)%</div>
                        </div>
                        <label>Orientación a objetivos</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleE[3],2)%;" aria-valuenow="@progress(moduleE[3],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleE[3], 2)%</div>
                        </div>
                        <label>Disciplina</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleE[4],2)%;" aria-valuenow="@progress(moduleE[4],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleE[4], 2)%</div>
                        </div>
                        <label>Prudencia</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @progress(moduleE[5],2)%;" aria-valuenow="@progress(moduleE[5],2)" aria-valuemin="0" aria-valuemax="100">@progress(moduleE[5], 2)%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
